<a href="https://colab.research.google.com/github/anhduc0101/anhduc/blob/main/scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Xây dựng mô hình phân lớp Naive Bayes - SVM  và k-NN với tập dữ liệu iris bằng thư viện scikit-learn

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [7]:
y_pred = classifier.predict(X_test) 
y_pred

array(['virginica', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'setosa',
       'setosa', 'setosa', 'setosa', 'virginica', 'versicolor', 'setosa',
       'virginica', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'virginica', 'versicolor', 'setosa',
       'versicolor', 'setosa', 'setosa', 'virginica'], dtype='<U10')

In [9]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.9333333333333333

array([[13,  0,  0],
       [ 0,  8,  1],
       [ 0,  1,  7]])

In [10]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0    virginica        virginica
1   versicolor       versicolor
2    virginica        virginica
3   versicolor       versicolor
4       setosa           setosa
5   versicolor       versicolor
6   versicolor       versicolor
7    virginica        virginica
8       setosa           setosa
9       setosa           setosa
10      setosa           setosa
11      setosa           setosa
12      setosa           setosa
13   virginica        virginica
14  versicolor       versicolor
15      setosa           setosa
16   virginica        virginica
17  versicolor        virginica
18  versicolor       versicolor
19      setosa           setosa
20  versicolor       versicolor
21      setosa           setosa
22      setosa           setosa
23   virginica        virginica
24   virginica       versicolor
25      setosa           setosa
26  versicolor       versicolor
27      setosa           setosa
28      setosa           setosa
29   virginica        virginica